extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#info
					ul.user-details
						each userInfo in info
							li= userInfo.username
							li= userInfo.firstName
							li= userInfo.lastName
							li= userInfo.phoneNum
							li= userInfo.fbName
							li= userInfo.fbUsername
							li= userInfo.prefEmail
